
<div id="script_{{name_clean}}" class="script" style="background-color:{{colorFill}}">
	<div class="scriptTitle">
		{{name}}
	</div>
	<div id="text" class="scriptText">
		{{{text}}}
	</div>
	<div id="script_{{name_clean}}_click" class="scriptClick"></div>
</div>