<div id="wrapper">
	<div class="title">Select a Clip</div>
	<div id="spacer" class="top"></div>
	<div id="clip_container" class="middle">
		{{#each clips}}
			<div id="{{id}}" name="{{name}}" class="">
				<div id="video_{{id}}">
					<video autoplay muted loop class="video">
						<source src="{{video}}" />
					</video>
					<div id="more_info_{{name}}" class="more_info" name="{{name}}"></div>
					<div id="content">
						<strong>{{name}}</strong><br />
						{{content}}
					</div>
				</div>
			</div>
	  	{{/each}}
	</div>
	<div id="select_overlay" class="">
		<div id="select_video" class="middle">
			<div id="select_container">
				<video id="big_video" autoplay></video>
				<div id="menu" style="">
				  <div id="select" class="button" style="float:left">Select</div>
				  <div id="back" class="button" style="float:left; background-color:red">Back</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
	</div>
	<audio src="sound/Pv04.mp3" autoplay></audio>
</div>