
<div id="script_{{name_clean}}" class="script">
	<div class="scriptTitle" style="background-color:{{colorFill}}">
		{{name}}
	</div>
	<div id="text" class="scriptText">
		{{{text}}}
	</div>
	<div id="script_{{name_clean}}_click" class="scriptClick"></div>
</div>