<div id="script_{{name_clean}}" class="script noselect">
	<div class="scriptTitle noselect">
		<div class="actualTitle" class=" noselect"style="background-color:{{colorFill}}">{{name}}</div>
		<div id="text" class="scriptText noselect">
		</div>
	</div>
	
	<div id="img_{{name_clean}}" class="scriptImage noselect">
		<img src="{{img}}" />
	</div>
	<div id="script_{{name_clean}}_click" class="scriptClick noselect"></div>
</div>